# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
*.log.*

# React Native specific
android/.gradle/
android/app/build/
ios/Pods/
ios/build/

# Editor & OS files
.vscode/
.idea/
*.swp
